@media screen and (max-width: 478px) 	{
	
	#header{
		font-size:20px;
	}
	.slideNav{
		display:block;
	}
	#nav{
		width:auto;
	}
	
	a.hideBackColor { 
	border-bottom:dotted thin #2a2a2a;
	}
	
	
}

@media screen and (max-width: 740px) 	{
	.left-col { width: 100%; }
	.sidebar { width: 100%; }
	
}

@media screen and (max-width: 480px) {

}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
