body {
	font-size: 12px;
	font-family: 'HabibiRegular', Arial, sans-serif;
	color: #666;
	padding: 2em 0;
	background-image:url(../img/bg.png);
}

.bg:hover{
	background-image:url(../img/griid.png);
}

.box{
	background-image:url(../img/box.png);
	
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* FF3.5 - 3.6 */
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	
	-webkit-border-radius: 0 0 1px 1px;
	-moz-border-radius: 0 0 1px 1px;
	border-radius: 0 0 1px 1px;
}

.box article{
	padding:20px;	
}


p {
	font-size: 1.3em;
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
	
}

.mytwitter{	
	margin-top: -1px;
	margin-left: -10px;
}


#myPic{
	margin-top: -15px;
}

#myPic2{
	margin-top: -10px;
	margin-left: -10px;	
}


.social{
	margin-left: 20px;
}

.social li{
	margin-bottom: 10px;
	font-size: 1.3em;
}

.social li:last-child{
	margin-top: -10px;
}

a {
	text-decoration: none;
	color: #088253;
}

a:hover {
	text-decoration: underline;
}

#cv{
	margin-top: -1px;	
}



h1 {
	display: inline;
	font: 4em 'QuicksandDash', 'HabibiRegular', Arial, sans-serif;
	color: #333;
	letter-spacing: -0.07em;
}

h2 {
	display: inline;
	
	font-size: 1.3em;
	margin-left: 5px;
	font-weight: lighter;
	color: #636363;
}

h3 {
	display: inline;
	font: 2.5em 'QuicksandDash', 'HabibiRegular', Arial, sans-serif;
	color: #333;
	letter-spacing: -0.07em;
}

h3 a{
	color: #333;
}

h3 a:hover{
	text-decoration: none;
	cursor: default;
}

h4 {
	display: inline;
	
	font-size: 1.1em;
	margin-left: 5px;
	font-weight: lighter;
	color: #6c6c6c;
}

h5 {
	display: inline;
	font-size: 1.1em;
	font-weight: lighter;
	color: #6c6c6c;
	
	margin-top: 22px;
	
	float: right;
}

h6 {
	font: 2em  'HabibiRegular', Arial, sans-serif;
	color: #3e3e3e;
	letter-spacing: -0.07em;
	margin-bottom: 5px;
}

img {
	max-width: 100%;
	margin-bottom: 1em
}

.share li{
	margin-bottom: 10px;
}

.vid_title {
	margin-top: 10px;	
}

.twitter {
	float: right;	
}

header { 
}

footer {
	padding: 5em 0 3em 0;
	font-size: 0.9em;
	text-align: center;
	
	background-image:url(../img/header.png);
	
	border-top: 2px solid #454545;
	
	-webkit-box-shadow:0px 0px 40px 3px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 40px 3px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 40px 3px rgba(0,0,0,0.7);
	
}

footer h1{
	font-size: 6em;
	color: #ababab;
	display: block;
}

#list2 li{
	display: inline;
}

#list2{
	
	margin-top: 50px;
}

#mainHeader{
	background-image:url(../img/header.png);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 20;
	color: #fff;
	
	padding: 2em 0;
	
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
}

#blank{
	height: 110px;
}

.spacer{
	height: 50px;
}

.small_spacer{
	height: 35px;
}

#logo{
	width: 136px;
	position: fixed;
	top: 0;
	
	z-index: 21;		
}

nav{
	float: right;
}
 
nav li {
	display: inline;
}

nav li a {
	text-decoration: none;
	font-size: 1.2em;
	color: #fefefe;
	padding: .3em 1em;
	
	-webkit-text-shadow: 1px 1px #000;
	-moz-text-shadow: 1px 1px #000;
	text-shadow: 1px 1px #000;	
}

#graph_title{
	font: 'QuicksandDash', 'HabibiRegular', Arial, sans-serif;
	color: #525252;
}

label{
	font-size: 1.3em;
	display: block;
}

input, textarea{
	
	font: 1.3em 'HabibiRegular', Arial, sans-serif;
	
	padding-left: 5px;
	
	height: 30px;
	width:300px;
	border: none;
	
	margin-bottom: 10px;
	
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* FF3.5 - 3.6 */
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	
}

.submit{
	background-color: #5d5d5d;
	color: #d1cfcf;
	cursor: hand;
}

button{
	cursor: hand;
}

textarea{
	height: 100px;
	max-width: 330px;
	max-height: 150px;
}

input,textarea:focus{
	border: 3px;
	outline-color: #088253;
	
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* FF3.5 - 3.6 */
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	
}

nav li a:hover,
nav li a.selected {
	text-decoration: none;
	border-bottom: 4px solid #088253;
	z-index: 1;
	margin-left: 0px;
	
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
}

.dashed_line {
	margin-bottom: 20px;

}

#graph{
}

.dashed_line{
	margin-left: 15px;	
}

.shadow_lite{

	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* FF3.5 - 3.6 */
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.shadow_text{
	-webkit-text-shadow: 1px 1px #000;
	-moz-text-shadow: 1px 1px #000;
	text-shadow: 1px 1px #000;
}

    
/*media queries*/  

	/* #Tablet (Portrait) width of 768px */  
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		

	}
	
	/* #Mobile (Portrait) width of 320px */

    @media only screen and (max-width: 767px) {
		
		nav {
			float: left;
		}
		
 	}
 	
 	/* Mobile (Landscape) width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		nav {
			float: left;
		}
  	}     
 