.ui-icon-myapp-latestIco {
    background:  url(../tabbar-icons/83-calendar.png) 50% 50% no-repeat;
    background-size: 20px 26px;
}
.ui-icon-myapp-logoutIco {
    background:  url(../tabbar-icons/63-runner.png)) 50% 50% no-repeat;
    background-size: 18px 25px;
}

.ui-icon-myapp-categoriesIco {
    background:  url(../tabbar-icons/33-cabinet.png) 50% 50% no-repeat;
    background-size: 23px 26px;
}