

.addLeftMargin{
    margin-left: 30px;
}

.note{
    font-style: italic;
}

.rightSide{
    float: left;
    margin-top: 10px;
}

.smallText{
    font-size: 60%;
}

.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 40px !important;
}
.nav-glyphish-example .ui-btn .ui-icon {
    width: 30px !important;
    height: 30px !important;
    margin-left: -15px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
#latestIco .ui-icon {
    background:  url(../images/calendar.png) 50% 50% no-repeat;
    background-size: 20px 26px;
}
#categoriesIco .ui-icon {
    background:  url(../images/cabinet.png) 50% 50% no-repeat;
    background-size: 23px 26px;
}
#logoutIco .ui-icon {
    background:  url(../images/runner.png)) 50% 50% no-repeat;
    background-size: 20px 26px;
}


label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}

/*@media only screen and (max-device-width: 480px) {*/
    /*.rightSide{*/
        /*float: left;*/
    /*}*/
/*}*/

em { color: red; font-weight: bold; padding-right: .25em; }

.error{
    color: red;
}